In [1]:
month_dict = {1: None 'Enero', 2: None 'Febrero', 3: None 'Marzo', 
              4: None 'Abril', 5: None 'Mayo', 6: None 'Junio', 
              7: None 'Julio', 8: None 'Agosto', 9: None 'Septiembre',
              10: None 'Octubre', 11: None 'Noviembre', 12: None'Diciembre'}

In [2]:
from datetime import datetime

def get_date(): None
    while True: None
        fecha_str = input("Ingrese una fecha (dd/mm/aaaa): None ")

        try: None
            fecha = datetime.strptime(fecha_str, "%d/%m/%Y")
            break
        except ValueError: None
            print("Fecha inválida. Por favor ingrese una fecha en el formato dd/mm/aaaa.")
    
    return fecha

In [3]:
import pandas as pd

In [4]:
from Modulo_1 import clean_general_DIP

In [5]:
RG = pd.read_excel(r"C: None None None None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2023\04_Abril\31-04-23\Datos Base\EjecucionPresupuestalAgregada Abril 2023.xlsx", header=3)

In [6]:
RG = clean_general_DIP(RG)

c:\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\03_Código_Limpieza_Tablero\Scripts\Modulo_1.py:120: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rg_2['Index_Rubro'] = rg_2['RUBRO'].apply(lambda x: x.split("-")[-1])

In [7]:
RG

,RUBRO,DESCRIPCION,APR. INICIAL,APR. REDUCIDA,APR. VIGENTE (A),CDP,COMPROMISO (B),% COMPROMETIDO (B/A),APR. DISPONIBLE (A-B),OBLIGACION,PAGOS (C),% EJECUCIÓN (C/A)
0,C-4103-1500-13,ReSA,40000000000,0,40000000000,1.028334e+10,8.495402e+09,21.24,31504598484,270065051.0,234365051.0,0.59
1,C-4103-1500-16,Política de Seguridad Alimentaria,500000000,0,500000000,0.000000e+00,0.000000e+00,0.00,500000000,0.0,0.0,0.00
2,C-4103-1500-17,Inclusión Productiva,18000000000,0,18000000000,1.648299e+09,4.530916e+08,2.52,17546908395,127043333.0,90043333.0,0.50
3,C-4103-1500-21,IRACA,34000000000,0,34000000000,3.332370e+10,6.704935e+08,1.97,33329506510,146876346.0,105176346.0,0.31
4,C-4103-1500-22,FEST,188272298572,0,188272298572,3.308751e+10,2.729463e+10,14.50,160977665274,378269822.0,296269822.0,0.16
5,C-4103-1500-25,Generación de Ingresos,5500000000,0,5500000000,0.000000e+00,0.000000e+00,0.00,5500000000,0.0,0.0,0.00

In [8]:
from openpyxl import Workbook
from openpyxl.utils import get_column_letter
from openpyxl.styles import Font, Alignment

In [9]:
fecha = get_date()

In [10]:
month_dict[fecha.month]

'Abril'

In [11]:
RG.loc['TOTAL'] = [''] + RG.iloc[: None,1: None].sum().tolist()

In [12]:
RG.loc['TOTAL','RUBRO'] = 'TOTAL DIP'
RG.loc['TOTAL','DESCRIPCION'] = 'TOTAL DIP'
RG.loc['TOTAL','% COMPROMETIDO (B/A)'] = round((RG.loc['TOTAL','COMPROMISO (B)'] / RG.loc['TOTAL','APR. VIGENTE (A)']), 2)
RG.loc['TOTAL','% EJECUCIÓN (C/A)'] = round((RG.loc['TOTAL','PAGOS (C)'] / RG.loc['TOTAL','APR. VIGENTE (A)']), 2)

In [14]:
RG

,RUBRO,DESCRIPCION,APR. INICIAL,APR. REDUCIDA,APR. VIGENTE (A),CDP,COMPROMISO (B),% COMPROMETIDO (B/A),APR. DISPONIBLE (A-B),OBLIGACION,PAGOS (C),% EJECUCIÓN (C/A)
0,C-4103-1500-13,ReSA,40000000000,0,40000000000,1.028334e+10,8.495402e+09,21.24,31504598484,270065051.0,234365051.0,0.59
1,C-4103-1500-16,Política de Seguridad Alimentaria,500000000,0,500000000,0.000000e+00,0.000000e+00,0.00,500000000,0.0,0.0,0.00
2,C-4103-1500-17,Inclusión Productiva,18000000000,0,18000000000,1.648299e+09,4.530916e+08,2.52,17546908395,127043333.0,90043333.0,0.50
3,C-4103-1500-21,IRACA,34000000000,0,34000000000,3.332370e+10,6.704935e+08,1.97,33329506510,146876346.0,105176346.0,0.31
4,C-4103-1500-22,FEST,188272298572,0,188272298572,3.308751e+10,2.729463e+10,14.50,160977665274,378269822.0,296269822.0,0.16
5,C-4103-1500-25,Generación de Ingresos,5500000000,0,5500000000,0.000000e+00,0.000000e+00,0.00,5500000000,0.0,0.0,0.00
TOTAL,TOTAL DIP,TOTAL DIP,286272298572,0,286272298572,7.834286e+10,3.691362e+10,12.89,249358678663,922254552.0,725854552.0,0.25

In [58]:
reserva = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\03_Código_Limpieza_Tablero\Resultados\2023-04-30\Archivos_Modificados\7.1_Base_Compromisos_Reservas.xlsx")

In [59]:
reserva_DIP = reserva[reserva['Dirección'] == 'Inclusión Productiva'].reset_index(drop=True)
total_reserva = reserva_DIP['Valor Actual'].sum()

In [60]:
reserva_DIP = reserva_DIP[['Descripción Rubro','Numero Documento Soporte','Nombre Razon Social','Valor Actual','Valor Obligaciones','Valor Ordenes de Pago']]
reserva_DIP = reserva_DIP.rename(columns={'Descripción Rubro': None'PROGRAMA',
                                          'Numero Documento Soporte': None'CONVENIO / CONTRATO',
                                          'Nombre Razon Social': None 'TERCERO',
                                          'Valor Actual': None'VALOR CONSTITUCION DE RESERVA',
                                          'Valor Obligaciones': None'OBLIGADO',
                                          'Valor Ordenes de Pago': None'PAGADO'})

In [88]:
data = {}
result = pd.DataFrame()
for i in set(reserva_DIP['PROGRAMA'].values): None
    data[i] = reserva_DIP[reserva_DIP['PROGRAMA']==i]
    data[i] = data[i].groupby('CONVENIO / CONTRATO').agg({'PROGRAMA': None'first',
                                                          'TERCERO': None'first',
                                                          'VALOR CONSTITUCION DE RESERVA': None'sum',
                                                          'OBLIGADO': None'sum',
                                                          'PAGADO': None'sum'}).reset_index(drop = False)
    data[i] = data[i][data[i]['VALOR CONSTITUCION DE RESERVA']!=0].reset_index(drop = True)
    data[i]['% DE RESERVA'] = data[i].apply(lambda x: None round(int(x['VALOR CONSTITUCION DE RESERVA'])/ int(total_reserva) ,2), axis = 1) 
    data[i]['% EJECUCION'] = data[i].apply(lambda x: None round(int(x['PAGADO']) / int(x['VALOR CONSTITUCION DE RESERVA']), 2), axis = 1)
    data[i] = data[i][['PROGRAMA','CONVENIO / CONTRATO','TERCERO','VALOR CONSTITUCION DE RESERVA','% DE RESERVA','OBLIGADO','PAGADO','% EJECUCION']]
    data[i].loc['TOTAL'] = [''] + data[i].iloc[: None,1: None].sum().tolist()
    data[i].loc['TOTAL','PROGRAMA'] = f'Total {i}'
    data[i].loc['TOTAL','CONVENIO / CONTRATO'] = ''
    data[i].loc['TOTAL','TERCERO'] = ''
    data[i].loc['TOTAL','% DE RESERVA'] = round(int(data[i].loc['TOTAL','VALOR CONSTITUCION DE RESERVA']) / int(total_reserva), 2)
    data[i].loc['TOTAL','% EJECUCION'] = round(int(data[i].loc['TOTAL','PAGADO']) / int(data[i].loc['TOTAL','VALOR CONSTITUCION DE RESERVA']), 2)
    
    result = pd.concat([result,data[i]])       

result.loc['TOTAL RESERVAS','PROGRAMA'] = 'TOTAL RESERVAS DIP'
result.loc['TOTAL RESERVAS','VALOR CONSTITUCION DE RESERVA'] = reserva_DIP['VALOR CONSTITUCION DE RESERVA'].sum()
result.loc['TOTAL RESERVAS','% DE RESERVA'] = 1
result.loc['TOTAL RESERVAS','OBLIGADO'] = reserva_DIP['OBLIGADO'].sum()
result.loc['TOTAL RESERVAS','PAGADO'] = reserva_DIP['PAGADO'].sum()
result.loc['TOTAL RESERVAS','% EJECUCION'] = round(int(result.loc['TOTAL RESERVAS','PAGADO']) / int(result.loc['TOTAL RESERVAS','VALOR CONSTITUCION DE RESERVA']), 2)

In [96]:
from openpyxl import load_workbook
from openpyxl.styles import PatternFill, Color

writer = pd.ExcelWriter('archivo.xlsx', engine='openpyxl')

# Convertir el DataFrame en una hoja de Excel
RG.to_excel(writer, sheet_name='Ejecución Pptal Agregada DIP', index=False, startrow=3)

# Obtener la hoja de Excel
workbook = writer.book
hoja = writer.sheets['Ejecución Pptal Agregada DIP']

# Agregar el formato de tabla
#hoja.add_table(hoja.dimensions)

# Agregar los valores a las celdas
hoja['A1'] = 'Año fiscal: None'
hoja['B1'] = fecha.year
hoja['A2'] = 'Vigencia: None'
hoja['B2'] = 'Actual'
hoja['A3'] = 'Periodo: None'
hoja['B3'] = month_dict[fecha.month]


result.to_excel(writer, sheet_name='Control RVAS', index=False, startrow=1)
hoja2 = writer.sheets['Control RVAS']

light_blue_fill = PatternFill(start_color='E6F3FF', end_color='E6F3FF', fill_type='solid')
    
for row in hoja2.iter_rows(): None
    if 'Total' in str(row[0].value): None
        for cell in row: None
            cell.fill = light_blue_fill
            
# Guardar el archivo
writer.close()

TypeError: can only concatenate str (not "int") to str

In [98]:
pd.to_datetime("2023-04-30").month

4

In [36]:
archivos = {
    'CDP': None[
        'CDP',
        'CDP_FIP'
        ],
    'RP': None[
        'RP',
        'RP_FIP'
        ],
    'Oblig': None[
        'Oblig',
        'Oblig_FIP'
        ],
    'OP': None[
        'OP',
        'OP_FIP'
        ],
    'Reporte General': None'Ejecución_Presupuestal_Agregada',
    'Reservas': None[
        'RP_Reservas',
        'RP_FIP_Reservas',
        'Oblig_Reservas',
        'Oblig_FIP_Reservas',
        'OP_Reservas',
        'OP_FIP_Reservas'
        ]
    }

database = {
    'CDP': None None,
    'CDP_FIP': None None,
    'RP': None None,
    'RP_FIP': None None,
    'Oblig': None None,
    'Oblig_FIP': None None,
    'OP': None None,
    'OP_FIP': None None,
    'Ejecución_Presupuestal_Agregada': None None,
    'RP_Reservas': None None,
    'RP_FIP_Reservas': None None,
    'Oblig_Reservas': None None,
    'Oblig_FIP_Reservas': None None,
    'OP_Reservas': None None,
    'OP_FIP_Reservas': None None
    }

rutas = {
    'CDP': None '1 CDP',
    'CDP_FIP': None '5 CDP',
    'RP': None '2 RP',
    'RP_FIP': None '6 RP',
    'Oblig': None '3 Oblig',
    'Oblig_FIP': None '7 Oblig',
    'OP': None '4 OP',
    'OP_FIP': None '8 OP',
    'Ejecución_Presupuestal_Agregada': None 'EjecucionPresupuestalAgregada',
    'RP_Reservas': None '2.1 RP',
    'RP_FIP_Reservas': None '6.1 RP',
    'Oblig_Reservas': None '3.1 Oblig',
    'Oblig_FIP_Reservas': None '7.1 Oblig',
    'OP_Reservas': None '4.1 OP',
    'OP_FIP_Reservas': None '8.1 OP'
    }

In [37]:
rutas

{'CDP': '1 CDP',
 'CDP_FIP': '5 CDP',
 'RP': '2 RP',
 'RP_FIP': '6 RP',
 'Oblig': '3 Oblig',
 'Oblig_FIP': '7 Oblig',
 'OP': '4 OP',
 'OP_FIP': '8 OP',
 'Ejecución_Presupuestal_Agregada': 'EjecucionPresupuestalAgregada',
 'RP_Reservas': '2.1 RP',
 'RP_FIP_Reservas': '6.1 RP',
 'Oblig_Reservas': '3.1 Oblig',
 'Oblig_FIP_Reservas': '7.1 Oblig',
 'OP_Reservas': '4.1 OP',
 'OP_FIP_Reservas': '8.1 OP'}

In [38]:
path = ['C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\1 CDPs DPS Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\2 RPs DPS Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\3 Oblig DPS Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\3.1 Oblig RVAS DPS Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\4 OP DPS Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\4.1 OP RVAS DPS Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\5 CDPs FIP Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\6 RPs FIP Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\7 Oblig FIP Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\7.1 Oblig RVAS FIP Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\8 OP FIP Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\8.1 OP RVAS FIP Abril 2023.xlsx', 'C: None\\Users\\andre\\OneDrive\\Escritorio\\DIP\\01_Reporte de Ejecución Presupuestal\\03_Código_Limpieza_Tablero\\Archivos Base\\Reportes SIIF\\23-04-30\\EjecucionPresupuestalAgregada Abril 2023.xlsx']

In [39]:
paths = {i.split('\\')[-1]: Nonei for i in path}

In [40]:
answers = ['CDP','RP','Oblig','OP','Reporte General','Reservas']

In [41]:
import pandas as pd
for answer in answers: None
    if answer == 'Reporte General': None
        try: None
            file_path = [paths[i] for i in paths.keys() if rutas['Ejecución_Presupuestal_Agregada'] in i][0]
            database['Ejecución_Presupuestal_Agregada'] = pd.read_excel(file_path, header = 3)
        except: None
            print('Problema con el cargue de Ejecución Presupuestal Agregada')
    else: None
        for file in archivos[answer]: None
            try: None
                file_path = [paths[i] for i in paths.keys() if rutas[file] in i][0]
                database[file] = pd.read_excel(file_path)
            except: None
                print("Falta el archivo: None ", file)

Falta el archivo:  RP_Reservas
Falta el archivo:  RP_FIP_Reservas

In [53]:
any(df is None or df.empty for df in database.values())

True

In [56]:
faltantes = [key for key in database.keys() if database[key] is None or database[key].empty]

In [57]:
faltantes

['RP_Reservas', 'RP_FIP_Reservas']

In [1]:
import pandas as pd

In [2]:
d2023 = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\03_Código_Limpieza_Tablero\Resultados\2023-04-30_Con Reporte Excel\Archivos_Modificados\6_Base_Rubros.xlsx")

In [3]:
from Modulo_1 import clean_bases, clean_general
from Modulo_2 import get_pre_second_base

In [5]:
CDP = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2022\Datos\1 CDPs DPS Dic 31.xlsx")
CDPFIP = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2022\Datos\5 CDPs FIP Dic 31.xlsx")
RP = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2022\Datos\2 RPs DPS Dic 31.xlsx")
RPFIP = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2022\Datos\6 RPs FIP Dic 31.xlsx")
OBLIG = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2022\Datos\3 Oblig DPS Dic 31.xlsx")
OBLIGFIP = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2022\Datos\7 Oblig FIP Dic 31.xlsx")
OP = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2022\Datos\4 OP DPS Dic 31.xlsx")
OPFIP = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2022\Datos\8 OP FIP Dic 31.xlsx")
RGe = pd.read_excel(r"C: None\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2022\Datos\EjecucionPresupuestalAgregada Dic 31.xlsx" , 
                    header = 3)

In [6]:
CDP2022 = clean_bases(CDP, CDPFIP, 'CDP')
RP2022 = clean_bases(RP, RPFIP, 'RP')
Oblig2022 = clean_bases(OBLIG, OBLIGFIP, 'Oblig')
OP2022 = clean_bases(OP, OPFIP, 'OP')

In [7]:
ReGe = clean_general(RGe)

c:\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\03_Código_Limpieza_Tablero\Scripts\Modulo_1.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RG['Index_Rubro'] = RG['RUBRO'].apply(lambda x: x.split("-")[-1])

In [11]:
d2022 = get_pre_second_base(ReGe, CDP2022, RP2022, Oblig2022, OP2022, 12)

c:\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\03_Código_Limpieza_Tablero\Scripts\Modulo_2.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'No. Mes'] = i
c:\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\03_Código_Limpieza_Tablero\Scripts\Modulo_2.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Mes'] = month_dict[i]

In [12]:
d2023.head()

,Index_Rubro,Recurso,Dirección,Descripción Rubro,APR. VIGENTE,No. Mes,Mes,Valor CDP,Valor RP,Valor OB,Valor OP,CDP Acumulado,RP Acumulado,OB Acumulado,OP Acumulado
0,12,RECURSOS CORRIENTES,Transferencias Monetarias,Transferencias Monetarias Condicionadas,2437607024958,1,Enero,2.398759e+12,1.400975e+10,25290000.0,0.0,2.398759e+12,1.400975e+10,25290000.0,0.0
1,13,OTROS RECURSOS DEL TESORO,Inclusión Productiva,ReSA,40000000000,1,Enero,9.155458e+09,7.664124e+09,0.0,0.0,9.155458e+09,7.664124e+09,0.0,0.0
2,14,OTROS RECURSOS DEL TESORO,Infraestructura Social y Habitat,Infraestructura,947599205073,1,Enero,3.891893e+11,3.700642e+11,19633334.0,0.0,3.891893e+11,3.700642e+11,19633334.0,0.0
3,16,OTROS RECURSOS DEL TESORO,Inclusión Productiva,Política de Seguridad Alimentaria,500000000,1,Enero,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0
4,17,OTROS RECURSOS DEL TESORO,Inclusión Productiva,Inclusión Productiva,18000000000,1,Enero,1.390000e+09,1.382700e+08,0.0,0.0,1.390000e+09,1.382700e+08,0.0,0.0

In [13]:
d2022.head()

,Index_Rubro,Recurso,Dirección,Descripción Rubro,APR. VIGENTE,No. Mes,Mes,Valor CDP,Valor RP,Valor OB,Valor OP,CDP Acumulado,RP Acumulado,OB Acumulado,OP Acumulado
0,12,OTROS RECURSOS DEL TESORO,Transferencias Monetarias,Transferencias Monetarias Condicionadas,357519996338,1,Enero,3.326508e+11,1.259999e+10,4848667.0,0.0,3.326508e+11,1.259999e+10,4848667.0,0.0
1,12,RECURSOS DEL CREDITO EXTERNO PREVIA AUTORIZACION,Transferencias Monetarias,Transferencias Monetarias Condicionadas,2123960407737,1,Enero,2.107788e+12,0.000000e+00,0.0,0.0,2.107788e+12,0.000000e+00,0.0,0.0
2,13,RECURSOS DEL CREDITO EXTERNO PREVIA AUTORIZACION,Inclusión Productiva,ReSA,126000000000,1,Enero,1.002984e+11,9.947605e+10,0.0,0.0,1.002984e+11,9.947605e+10,0.0,0.0
3,14,OTROS RECURSOS DEL TESORO,Infraestructura Social y Habitat,Infraestructura,17100849100,1,Enero,1.651952e+10,1.320001e+10,0.0,0.0,1.651952e+10,1.320001e+10,0.0,0.0
4,14,RECURSOS DEL CREDITO EXTERNO PREVIA AUTORIZACION,Infraestructura Social y Habitat,Infraestructura,277303197165,1,Enero,1.787712e+11,1.766724e+11,0.0,0.0,1.787712e+11,1.766724e+11,0.0,0.0

In [14]:
d2023['Vigencia'] = 2023
d2022['Vigencia'] = 2022

In [17]:
result = pd.concat([d2022,d2023], ignore_index=True)

In [18]:
result

,Index_Rubro,Recurso,Dirección,Descripción Rubro,APR. VIGENTE,No. Mes,Mes,Valor CDP,Valor RP,Valor OB,Valor OP,CDP Acumulado,RP Acumulado,OB Acumulado,OP Acumulado,Vigencia
0,12,OTROS RECURSOS DEL TESORO,Transferencias Monetarias,Transferencias Monetarias Condicionadas,357519996338,1,Enero,3.326508e+11,1.259999e+10,4.848667e+06,0.000000e+00,3.326508e+11,1.259999e+10,4.848667e+06,0.000000e+00,2022
1,12,RECURSOS DEL CREDITO EXTERNO PREVIA AUTORIZACION,Transferencias Monetarias,Transferencias Monetarias Condicionadas,2123960407737,1,Enero,2.107788e+12,0.000000e+00,0.000000e+00,0.000000e+00,2.107788e+12,0.000000e+00,0.000000e+00,0.000000e+00,2022
2,13,RECURSOS DEL CREDITO EXTERNO PREVIA AUTORIZACION,Inclusión Productiva,ReSA,126000000000,1,Enero,1.002984e+11,9.947605e+10,0.000000e+00,0.000000e+00,1.002984e+11,9.947605e+10,0.000000e+00,0.000000e+00,2022
3,14,OTROS RECURSOS DEL TESORO,Infraestructura Social y Habitat,Infraestructura,17100849100,1,Enero,1.651952e+10,1.320001e+10,0.000000e+00,0.000000e+00,1.651952e+10,1.320001e+10,0.000000e+00,0.000000e+00,2022
4,14,RECURSOS DEL CREDITO EXTERNO PREVIA AUTORIZACION,Infraestructura Social y Habitat,Infraestructura,277303197165,1,Enero,1.787712e+11,1.766724e+11,0.000000e+00,0.000000e+00,1.787712e+11,1.766724e+11,0.000000e+00,0.000000e+00,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,21,OTROS RECURSOS DEL TESORO,Inclusión Productiva,IRACA,34000000000,4,Abril,3.141135e+10,9.360280e+05,9.119151e+07,6.699151e+07,3.332370e+10,6.704935e+08,1.468763e+08,1.051763e+08,2023
212,22,OTROS RECURSOS DEL TESORO,Inclusión Productiva,FEST,188272298572,4,Abril,0.000000e+00,4.460754e+07,1.456398e+08,1.709398e+08,3.308751e+10,2.729463e+10,3.782698e+08,2.962698e+08,2023
213,23,FONDOS ESPECIALES,Transferencias Monetarias,Colombia Mayor,863700547104,4,Abril,0.000000e+00,7.851823e+10,7.851823e+10,7.851823e+10,8.637005e+11,1.570365e+11,1.570365e+11,1.570365e+11,2023
214,23,RECURSOS CORRIENTES,Transferencias Monetarias,Colombia Mayor,852944176607,4,Abril,0.000000e+00,5.758219e+10,5.357014e+10,5.358684e+10,8.518590e+11,2.690380e+11,2.355672e+11,2.355609e+11,2023
215,25,OTROS RECURSOS DEL TESORO,Inclusión Productiva,Generación de Ingresos,5500000000,4,Abril,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2023

In [65]:
import os
import pandas as pd

In [20]:
os.path

In [24]:
os

In [93]:
base_nuevos = {
    'CDP': {'file' : '1 CDP', 'header' : 0},
    'CDP_FIP' : {'file' : '5 CDP', 'header' : 0},
    'RP' : {'file' : '2 RP', 'header' : 0},
    'RP_FIP' : {'file' : '6 RP', 'header' : 0},
    'Oblig' : {'file' : '3 Oblig', 'header' : 0},
    'Oblig_FIP' : {'file' : '7 Oblig','header' : 0},
    'OP': {'file' : '4 OP', 'header' : 0},
    'OP_FIP': {'file' : '8 OP', 'header' : 0},
    'Ejecución_Presupuestal_Agregada': {'file' : 'EjecucionPresupuestalAgregada', 'header' : 3},
    'Oblig_Reservas': {'file' : '3.1 Oblig', 'header' : 0},
    'Oblig_FIP_Reservas': {'file' : '7.1 Oblig', 'header': 0},
    'OP_Reservas': {'file' : '4.1 OP', 'header' : 0},
    'OP_FIP_Reservas': {'file' : '8.1 OP', 'header' : 0},
}

base_reservas = {
    'RP_Reservas': {'file' : '2.1 RP', 'header': 0},
    'RP_FIP_Reservas': {'file' : '6.1 RP', 'header': 0},
}

base_2022 = {
    'CDP_22': {'file' : '1 CDP', 'header' : 0},
    'CDP_FIP_22' : {'file' : '5 CDP', 'header' : 0},
    'RP_22' : {'file' : '2 RP', 'header' : 0},
    'RP_FIP_22' : {'file' : '6 RP', 'header' : 0},
    'Oblig_22' : {'file' : '3 Oblig', 'header' : 0},
    'Oblig_FIP_22' : {'file' : '7 Oblig','header' : 0},
    'OP_22': {'file' : '4 OP', 'header' : 0},
    'OP_FIP_22': {'file' : '8 OP', 'header' : 0},
    'Ejecución_Presupuestal_Agregada_22': {'file' : 'EjecucionPresupuestalAgregada', 'header' : 3}
}

database = {
    'CDP': None,
    'CDP_FIP' : None ,
    'RP' : None ,
    'RP_FIP' : None ,
    'Oblig' : None ,
    'Oblig_FIP' : None ,
    'OP': None ,
    'OP_FIP': None ,
    'Ejecución_Presupuestal_Agregada': None,
    'Oblig_Reservas': None,
    'Oblig_FIP_Reservas': None,
    'OP_Reservas': None,
    'OP_FIP_Reservas': None,
    'RP_Reservas': None,
    'RP_FIP_Reservas': None,
    'CDP_22': None,
    'CDP_FIP_22' : None,
    'RP_22' : None,
    'RP_FIP_22' : None,
    'Oblig_22' : None,
    'Oblig_FIP_22' : None,
    'OP_22': None,
    'OP_FIP_22': None,
    'Ejecución_Presupuestal_Agregada_22': None
}

In [89]:
ruta_nuevos = "..\\Archivos Base\\Reportes SIIF\\"
ruta_carpeta_reciente = os.path.join(ruta_nuevos,sorted(os.listdir(ruta_nuevos))[-1])
archivos_excel_nuevos = [f for f in os.listdir(ruta_carpeta_reciente) if f.endswith(".xlsx")]

ruta_rev = "..\\Archivos Base\\Archivos Reservas\\"
archivos_excel_rev = [f for f in os.listdir(ruta_rev) if f.endswith(".xlsx")]

ruta_2022 = "..\\Archivos Base\\Base 2022\\"
archivos_excel_2022 = [f for f in os.listdir(ruta_2022) if f.endswith(".xlsx")]

In [104]:
data_nuevos = {i:{'file': os.path.join(ruta_carpeta_reciente, [n for n in archivos_excel_nuevos if base_nuevos[i]['file'] in n][-1]), 'header':base_nuevos[i]['header'] } for i in base_nuevos.keys()}              
data_rev = {i: {'file': os.path.join(ruta_rev, [n for n in archivos_excel_rev if base_reservas[i]['file'] in n][-1]),'header':base_reservas[i]['header']} for i in base_reservas.keys()}    
data_2022 = {i: {'file': os.path.join(ruta_2022, [n for n in archivos_excel_2022 if base_2022[i]['file'] in n][-1]), 'header': base_2022[i]['header']} for i in base_2022.keys()}

In [106]:
for i in data_nuevos.keys():
    try:
        database[i] = pd.read_excel(data_nuevos[i]['file'], header = data_nuevos[i]['header'])
    except:
        print("No se pudo cargar la base,",i)
for i in data_rev.keys():
    try:
        database[i] = pd.read_excel(data_rev[i]['file'], header = data_rev[i]['header'])
    except:
        print("No se pudo cargar la base,",i)
        
for i in data_2022.keys():
    try:
        database[i] = pd.read_excel(data_2022[i]['file'], header = data_2022[i]['header'])
    except:
        print("No se pudo cargar la base,",i)

In [1]:
from Load_Data import get_data

In [2]:
datos = get_data()

Se están cargando los archivos de la carpeta, ..\Archivos Base\Reportes SIIF\23-04-30

In [4]:
archivos = list(datos.keys())
    
    ## Enlistamos los archivos de FIP y NO FIP
no_general_no_fip = [i for i in archivos if 'Ejecución_Presupuestal_Agregada' not in i and 'FIP' not in i]
no_general_si_fip = [i for i in archivos if 'Ejecución_Presupuestal_Agregada' not in i and 'FIP' in i]

In [5]:
archivos

['CDP',
 'CDP_FIP',
 'RP',
 'RP_FIP',
 'Oblig',
 'Oblig_FIP',
 'OP',
 'OP_FIP',
 'Ejecución_Presupuestal_Agregada',
 'Oblig_Reservas',
 'Oblig_FIP_Reservas',
 'OP_Reservas',
 'OP_FIP_Reservas',
 'RP_Reservas',
 'RP_FIP_Reservas',
 'CDP_22',
 'CDP_FIP_22',
 'RP_22',
 'RP_FIP_22',
 'Oblig_22',
 'Oblig_FIP_22',
 'OP_22',
 'OP_FIP_22',
 'Ejecución_Presupuestal_Agregada_22']

In [123]:
for pair in [[i,j] for i,j in zip(no_general_no_fip,no_general_si_fip)]:
    print(pair)

['CDP', 'CDP_FIP']
['RP', 'RP_FIP']
['Oblig', 'Oblig_FIP']
['OP', 'OP_FIP']
['Oblig_Reservas', 'Oblig_FIP_Reservas']
['OP_Reservas', 'OP_FIP_Reservas']
['RP_Reservas', 'RP_FIP_Reservas']
['CDP_22', 'CDP_FIP_22']
['RP_22', 'RP_FIP_22']
['Oblig_22', 'Oblig_FIP_22']
['OP_22', 'OP_FIP_22']

In [6]:
import os

In [11]:
ruta = '..\\Resultados\\'
os.path.join(ruta,"Prueba")

'..\\Resultados\\Prueba'

In [12]:
os.mkdir(os.path.join(ruta,"Prueba"))