In [1]:
month_dict = {1: 'Enero', 2: 'Febrero', 3: 'Marzo', 
              4: 'Abril', 5: 'Mayo', 6: 'Junio', 
              7: 'Julio', 8: 'Agosto', 9: 'Septiembre',
              10: 'Octubre', 11: 'Noviembre', 12:'Diciembre'}

In [2]:
from datetime import datetime

def get_date():
    while True:
        fecha_str = input("Ingrese una fecha (dd/mm/aaaa): ")

        try:
            fecha = datetime.strptime(fecha_str, "%d/%m/%Y")
            break
        except ValueError:
            print("Fecha inválida. Por favor ingrese una fecha en el formato dd/mm/aaaa.")
    
    return fecha

In [3]:
import pandas as pd

In [4]:
from Modulo_1 import clean_general_DIP

In [5]:
RG = pd.read_excel(r"C:\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\2023\04_Abril\31-04-23\Datos Base\EjecucionPresupuestalAgregada Abril 2023.xlsx", header=3)

In [6]:
RG = clean_general_DIP(RG)

c:\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\03_Código_Limpieza_Tablero\Scripts\Modulo_1.py:120: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rg_2['Index_Rubro'] = rg_2['RUBRO'].apply(lambda x: x.split("-")[-1])

In [7]:
RG

,RUBRO,DESCRIPCION,APR. INICIAL,APR. REDUCIDA,APR. VIGENTE (A),CDP,COMPROMISO (B),% COMPROMETIDO (B/A),APR. DISPONIBLE (A-B),OBLIGACION,PAGOS (C),% EJECUCIÓN (C/A)
0,C-4103-1500-13,ReSA,40000000000,0,40000000000,1.028334e+10,8.495402e+09,21.24,31504598484,270065051.0,234365051.0,0.59
1,C-4103-1500-16,Política de Seguridad Alimentaria,500000000,0,500000000,0.000000e+00,0.000000e+00,0.00,500000000,0.0,0.0,0.00
2,C-4103-1500-17,Inclusión Productiva,18000000000,0,18000000000,1.648299e+09,4.530916e+08,2.52,17546908395,127043333.0,90043333.0,0.50
3,C-4103-1500-21,IRACA,34000000000,0,34000000000,3.332370e+10,6.704935e+08,1.97,33329506510,146876346.0,105176346.0,0.31
4,C-4103-1500-22,FEST,188272298572,0,188272298572,3.308751e+10,2.729463e+10,14.50,160977665274,378269822.0,296269822.0,0.16
5,C-4103-1500-25,Generación de Ingresos,5500000000,0,5500000000,0.000000e+00,0.000000e+00,0.00,5500000000,0.0,0.0,0.00

In [8]:
from openpyxl import Workbook
from openpyxl.utils import get_column_letter
from openpyxl.styles import Font, Alignment

In [9]:
fecha = get_date()

In [10]:
month_dict[fecha.month]

'Abril'

In [11]:
RG.loc['TOTAL'] = [''] + RG.iloc[:,1:].sum().tolist()

In [12]:
RG.loc['TOTAL','RUBRO'] = 'TOTAL DIP'
RG.loc['TOTAL','DESCRIPCION'] = 'TOTAL DIP'
RG.loc['TOTAL','% COMPROMETIDO (B/A)'] = round((RG.loc['TOTAL','COMPROMISO (B)'] / RG.loc['TOTAL','APR. VIGENTE (A)']), 2)
RG.loc['TOTAL','% EJECUCIÓN (C/A)'] = round((RG.loc['TOTAL','PAGOS (C)'] / RG.loc['TOTAL','APR. VIGENTE (A)']), 2)

In [14]:
RG

,RUBRO,DESCRIPCION,APR. INICIAL,APR. REDUCIDA,APR. VIGENTE (A),CDP,COMPROMISO (B),% COMPROMETIDO (B/A),APR. DISPONIBLE (A-B),OBLIGACION,PAGOS (C),% EJECUCIÓN (C/A)
0,C-4103-1500-13,ReSA,40000000000,0,40000000000,1.028334e+10,8.495402e+09,21.24,31504598484,270065051.0,234365051.0,0.59
1,C-4103-1500-16,Política de Seguridad Alimentaria,500000000,0,500000000,0.000000e+00,0.000000e+00,0.00,500000000,0.0,0.0,0.00
2,C-4103-1500-17,Inclusión Productiva,18000000000,0,18000000000,1.648299e+09,4.530916e+08,2.52,17546908395,127043333.0,90043333.0,0.50
3,C-4103-1500-21,IRACA,34000000000,0,34000000000,3.332370e+10,6.704935e+08,1.97,33329506510,146876346.0,105176346.0,0.31
4,C-4103-1500-22,FEST,188272298572,0,188272298572,3.308751e+10,2.729463e+10,14.50,160977665274,378269822.0,296269822.0,0.16
5,C-4103-1500-25,Generación de Ingresos,5500000000,0,5500000000,0.000000e+00,0.000000e+00,0.00,5500000000,0.0,0.0,0.00
TOTAL,TOTAL DIP,TOTAL DIP,286272298572,0,286272298572,7.834286e+10,3.691362e+10,12.89,249358678663,922254552.0,725854552.0,0.25

In [58]:
reserva = pd.read_excel(r"C:\Users\andre\OneDrive\Escritorio\DIP\01_Reporte de Ejecución Presupuestal\03_Código_Limpieza_Tablero\Resultados\2023-04-30\Archivos_Modificados\7.1_Base_Compromisos_Reservas.xlsx")

In [59]:
reserva_DIP = reserva[reserva['Dirección'] == 'Inclusión Productiva'].reset_index(drop=True)
total_reserva = reserva_DIP['Valor Actual'].sum()

In [60]:
reserva_DIP = reserva_DIP[['Descripción Rubro','Numero Documento Soporte','Nombre Razon Social','Valor Actual','Valor Obligaciones','Valor Ordenes de Pago']]
reserva_DIP = reserva_DIP.rename(columns={'Descripción Rubro':'PROGRAMA',
                                          'Numero Documento Soporte':'CONVENIO / CONTRATO',
                                          'Nombre Razon Social': 'TERCERO',
                                          'Valor Actual':'VALOR CONSTITUCION DE RESERVA',
                                          'Valor Obligaciones':'OBLIGADO',
                                          'Valor Ordenes de Pago':'PAGADO'})

In [88]:
data = {}
result = pd.DataFrame()
for i in set(reserva_DIP['PROGRAMA'].values):
    data[i] = reserva_DIP[reserva_DIP['PROGRAMA']==i]
    data[i] = data[i].groupby('CONVENIO / CONTRATO').agg({'PROGRAMA':'first',
                                                          'TERCERO':'first',
                                                          'VALOR CONSTITUCION DE RESERVA':'sum',
                                                          'OBLIGADO':'sum',
                                                          'PAGADO':'sum'}).reset_index(drop = False)
    data[i] = data[i][data[i]['VALOR CONSTITUCION DE RESERVA']!=0].reset_index(drop = True)
    data[i]['% DE RESERVA'] = data[i].apply(lambda x: round(int(x['VALOR CONSTITUCION DE RESERVA'])/ int(total_reserva) ,2), axis = 1) 
    data[i]['% EJECUCION'] = data[i].apply(lambda x: round(int(x['PAGADO']) / int(x['VALOR CONSTITUCION DE RESERVA']), 2), axis = 1)
    data[i] = data[i][['PROGRAMA','CONVENIO / CONTRATO','TERCERO','VALOR CONSTITUCION DE RESERVA','% DE RESERVA','OBLIGADO','PAGADO','% EJECUCION']]
    data[i].loc['TOTAL'] = [''] + data[i].iloc[:,1:].sum().tolist()
    data[i].loc['TOTAL','PROGRAMA'] = f'Total {i}'
    data[i].loc['TOTAL','CONVENIO / CONTRATO'] = ''
    data[i].loc['TOTAL','TERCERO'] = ''
    data[i].loc['TOTAL','% DE RESERVA'] = round(int(data[i].loc['TOTAL','VALOR CONSTITUCION DE RESERVA']) / int(total_reserva), 2)
    data[i].loc['TOTAL','% EJECUCION'] = round(int(data[i].loc['TOTAL','PAGADO']) / int(data[i].loc['TOTAL','VALOR CONSTITUCION DE RESERVA']), 2)
    
    result = pd.concat([result,data[i]])       

result.loc['TOTAL RESERVAS','PROGRAMA'] = 'TOTAL RESERVAS DIP'
result.loc['TOTAL RESERVAS','VALOR CONSTITUCION DE RESERVA'] = reserva_DIP['VALOR CONSTITUCION DE RESERVA'].sum()
result.loc['TOTAL RESERVAS','% DE RESERVA'] = 1
result.loc['TOTAL RESERVAS','OBLIGADO'] = reserva_DIP['OBLIGADO'].sum()
result.loc['TOTAL RESERVAS','PAGADO'] = reserva_DIP['PAGADO'].sum()
result.loc['TOTAL RESERVAS','% EJECUCION'] = round(int(result.loc['TOTAL RESERVAS','PAGADO']) / int(result.loc['TOTAL RESERVAS','VALOR CONSTITUCION DE RESERVA']), 2)

In [96]:
from openpyxl import load_workbook
from openpyxl.styles import PatternFill, Color

writer = pd.ExcelWriter('archivo.xlsx', engine='openpyxl')

# Convertir el DataFrame en una hoja de Excel
RG.to_excel(writer, sheet_name='Ejecución Pptal Agregada DIP', index=False, startrow=3)

# Obtener la hoja de Excel
workbook = writer.book
hoja = writer.sheets['Ejecución Pptal Agregada DIP']

# Agregar el formato de tabla
#hoja.add_table(hoja.dimensions)

# Agregar los valores a las celdas
hoja['A1'] = 'Año fiscal:'
hoja['B1'] = fecha.year
hoja['A2'] = 'Vigencia:'
hoja['B2'] = 'Actual'
hoja['A3'] = 'Periodo:'
hoja['B3'] = month_dict[fecha.month]


result.to_excel(writer, sheet_name='Control RVAS', index=False, startrow=1)
hoja2 = writer.sheets['Control RVAS']

light_blue_fill = PatternFill(start_color='E6F3FF', end_color='E6F3FF', fill_type='solid')
    
for row in hoja2.iter_rows():
    if 'Total' in str(row[0].value):
        for cell in row:
            cell.fill = light_blue_fill
            
# Guardar el archivo
writer.close()

TypeError: can only concatenate str (not "int") to str

In [98]:
pd.to_datetime("2023-04-30").month

4